<!DOCTYPE html>
html(lang="ko-KR")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(charset="UTF-8")
		title page info

	body
		h1 HTML ESCAPE CODES
		p= "<div class=\"eulsoo\">"
		//  Code / Entity Name
		ul
			// <li>Copyright : &copy; &#169;</li>
			li= "Copyright : © ©"
			// <li>Registered trademark :&reg;	&#174;</li>
			li= "Registered trademark :®	®"
			// <li>Trademark : &trade;	&#8482;</li>
			li= "Trademark : ™	™"
			// <li>Less than : &lt; &#60;</li>
			li= "Less than : < <"
			// <li>Greater than : &gt;	&#62;</li>
			li= "Greater than : >	>"
			// <li>Ampersand : &amp; &#38;</li>
			li= "Ampersand : & &"
			// <li>Quotation mark : &quot;	&#34;</li>
			li= "Quotation mark : \"	\""
			// <li>Left single quotation mark : &lsquo; &#8216;</li>
			li= "Left single quotation mark : ‘ ‘"
			// <li>Right single quotation &rsquo; &#8217;</li>
			li= "Right single quotation ’ ’"
			// <li>Asterisk operator : &lowast; &#8727;</li>
			li= "Division sign : ÷ ÷"
			// <li>Division sign : &divide; &#247;</li>
			li= "Asterisk operator : ∗ ∗"
			// <li>Multiplication sign : &times; &#215;</li>
			li= "Multiplication sign : × × "
